.container-lg{
    max-width: $desktop-lg;
    margin: 0 auto;
    overflow: hidden;
}

.container{
    max-width: $desktop;
    overflow: hidden;
    margin: 0 auto;
}

.mobile-only{
    display: none !important;

    @media only screen and (max-width: $mobile){
        display: block !important;
    }
}

.desktop-only{
    @media only screen and (max-width: $desktop){
        display: none !important;
    }
}

.sr-only{
    border: 0;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; 
}