$mobile: 414px;
$tablet: 768px;
$desktop: 1024px;
$desktop-lg: 1440px;

$medium: 500;
$semi-bold: 600;
$bold: 700;

$white: white;
$black: hsl(0, 0%, 0%);
$react-color: #61dafb;
$dark-grey: hsl(0, 0%, 63%);
$dark-grey2: hsl(0, 0%, 27%);